<h1>Checkout</h1>


<form role="form">
  <div class="form-group">
    <label>Name</label>
    {{input type='text' class="form-control" valueBinding='model.customerName'}}
  </div>

  <div class="form-group">
    <label>Email</label>
    {{input type='text' class="form-control" valueBinding='model.email'}}
  </div>

  <div class="form-group">
    <label>Credit card number</label>
    {{input type='text' class="form-control" valueBinding='model.cc_info'}}
  </div>

  <div class="form-group">
    <label>CVV</label>
    {{input type='text' class="form-control" valueBinding='model.cc_cvv'}}
  </div>

  <div class="form-group">
    <label>CC expiration date</label>
    {{input type='text' class="form-control" valueBinding='model.cc_exp'}}
  </div>

  <div class="form-group">
    <label>Zip Code</label>
    {{input type='text' class="form-control" valueBinding='model.zip_code'}}
  </div>
    <button {{ action 'createOrder' this }}>Purchase</button>
</div>
<br>
<br>