<h1>Checkout</h1>


<div class="order-form">
  <label>Enter name</label>
  {{input type='text' valueBinding='model.customerName'}}
  <br>
  <label>Enter email</label>
  {{input type='text' valueBinding='model.email'}}
  <br>
  <label>Enter credit card numbers</label>
  {{input type='text' valueBinding='model.cc_info'}}
  <br>
  <label>CVV</label>
  {{input type='text' valueBinding='model.cc_cvv'}}
  <br>
  <label>CC expiration date</label>
  {{input type='text' valueBinding='model.cc_exp'}}
  <br>
  <label>Zip Code</label>
  {{input type='text' valueBinding='model.zip_code'}}
  <br>
  <button {{ action 'createOrder' this }}>Purchase</button>
</div>