<h1>Admin Page</h1> 

<div class='col-lg-2'>
  <h4>All Music</h4>
  <table class="table">
    {{# each }}
      <tr>
        <td>{{ artist }}</td>
        <td>${{ price }}</td>
        <td><button {{ action 'edit' this }}> Update</button></td>
        <td><button {{ action 'delete' this }}> Delete</button></td>
      </tr>
      {{/ each }}
  </table>
<button {{ action 'createProduct' }}>Create Product</button>

</div>