<h1>This is a cart</h1>

<table class="table">
  <thead>
    <tr>
      <th>Album</th>
      <th>Item Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>taxTotal</th>

      <th></th>
    </tr>
  </thead>
    <tbody>
      {{# each items }}
    <tr>
      <td>
        <img {{ bind-attr src=product.image }} class='album-image' /><br>
        {{ product.artist }}
      </td>
      <td> ${{ product.price }}</td>
      <td> {{ quantity }}
        <button {{ action 'less' this }}>-</button> 
        <button {{ action 'more' this }}>+</button> 
      </td>
      <td> ${{ itemTotal }}</td>
      <td> ${{ taxTotal }}</td>

      <td></td>
      <td></td>
      <td><button {{ action 'deleteItem' this }}>Delete</button></td>
    </tr>
    {{/ each}}
    <tr>
    <td>TOTAL</td>
    <td></td>
    <td></td>
    <td></td>
    <td>$ {{ total }} </td>
    </tr>
    </table>

    {{# link-to 'cart.new' class='btn btn-default btn-block btn-sm'}}Checkout{{/link-to}}

    <div class='col-lg-10'>
    {{outlet}}
    </div>

